* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    .typing-speed {
        padding-top: 15px;
        padding-left: 15px;
    }

    .typing-result {
        width: 40%;
        padding: 15px;
        background-color: lightblue;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -30%);
        opacity: 0;

        a {
            color: black;
        }
    }

    .container {
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .loader {
            width: 50px;
            height: 50px;
            margin: 5px auto;
            border-radius: 50%;
            border: 5px solid rgba(0, 0, 0, 0.1);
            border-left-color: lightblue;
            animation: 0.5s infinite linear loading;
        }
    }

    .completed {
        animation: 1s forwards complete;
    }

    .text-to-type {
        width: 100%;
        padding: 15px;
        border: 1px solid lightgray;

        p {
            display: inline;
            padding-right: 5px;
            word-break: break-all;
    
            &:last-child {
    
                &::after {
                    content: ".";
                }
            }
        }
    }

    input {
        width: 100%;
        padding: 15px;
        margin-top: 15px;
    }

    .typed-character {
        color: green;
        text-decoration: inherit;
    }

    .underline-word {
        text-decoration: underline;
    }

    .incorrect-character {
        color: red;
    }
}

@keyframes complete {
    100% {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}