body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff1f0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .dots {
            display: flex;
            align-items: center;
            margin-bottom: 40px;

            .each-dot {
                width: 20px;
                padding: 5px;
                text-align: center;
                border: 3px solid #d9dad9;
                color: #d9dad9;
                border-radius: 50%;
                background-color: white;
            }

            .active-dot {
                border: 3px solid #5969d5;
                color: black;
            }

            .horizontal-line {
                width: 90px;
                height: 5px;
                background-color: #d9dad9;
                background: linear-gradient(to left, #d9dad9 50%, #5969d5 50%);
                background-size: 200% 100%;
                background-position: right bottom;
                transition: 0.3s ease-out;
            }

            .active-horizontal-line {
                background-position: left bottom;
            }
        }

        .previous-next-buttons {
            width: 55%;
            display: flex;
            justify-content: space-between;

            button {
                width: 105px;
                padding: 10px 25px;
                border-radius: 5px;
                border: none;
                color: white;
                background-color: #5969d5;
                cursor: pointer;
            }

            .unavailable {
                background-color: lightgray;
                cursor: not-allowed;
            }
        }
    }
}