body {
    margin: 0;
    font-family: sans-serif;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #dc2e1f;
}

#navbar ul {
    display: flex;
    list-style-type: none;
    padding-right: 20%;
}

#navbar ul li {
    padding-left: 25%;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3a3d39;
}

#welcome-section h1 {
    color: white;
    font-size: 55px;
    margin-top: 0px;
}

#welcome-section p {
    color: #df2e1f;
    font-size: 35px;
    margin: 0;
}

#projects {
    text-align: center;
    padding: 5% 1rem;
    background-color: #7a857c;
}

#projects h2 {
    margin-top: 0px;
    padding-top: 25px;
    color: white;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 350px));
    grid-gap: 15px;
    justify-content: center;
    margin-bottom: 5%;
}

.projects a {
    background-color: #594bc7;
    text-decoration: none;
    color: white;
}

.project-img {
    height: 230px;
    width: 100%;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #594bc7;
    transition: background 0.3s ease-out;
}

.btn > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.btn:hover {
    background-color: #dc2e1f;
}

.btn:hover > i {
    transform: translateX(2px);
}

#contact {
    height: 83vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e2373;
}

#contact p {
    color: #cfd6d3;
}

#contact h2 {
    margin: 0;
    font-size: 50px;
    color: white;
}

.contact-section-header {
    text-align: center;
}

.contact-links {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-links a {
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: #1e2373;
    border-top: 3px solid #dc2e1f;
    color: white;
}

@media(max-width: 920px) {
    .projects {
        grid-template-columns: repeat(2, minmax(100px, 400px));
    }
}

@media(max-width: 680px) {

    .projects {
        grid-template-columns: repeat(1, minmax(100px, 500px));
    }

    #navbar {
        justify-content: center;
    }

    #navbar ul {
        width: 60%;
        justify-content: space-evenly;
        padding: 0;
    }

    #navbar ul li {
        padding: 0;
    }

    #welcome-section h1 {
        font-size: 45px;
    }

    #welcome-section p {
        font-size: 25px;
    }

    #contact h2 {
        font-size: 40px;
    }
}

@media(max-width: 515px) {
    #welcome-section h1 {
        font-size: 35px;
    }

    #welcome-section p {
        font-size: 20px;
    }

    #contact h2 {
        font-size: 30px;
    }
}

@media(max-width: 400px) {
    #welcome-section h1 {
        font-size: 25px;
    }

    #welcome-section p {
        font-size: 15px;
    }

    #contact h2 {
        font-size: 20px;
    }

    #contact p {
        font-size: 15px;
    }
}