body {
    display: flex;
    font-family: sans-serif;
    margin: 0;
}

#main-doc p {
    color: #595e6c;
}

article > p {
    padding-left: 25px;
}

header {
    font-size: 25px;
    padding-top: 25px;
}

#navbar header {
    padding-left: 25px;
    padding-top: 15px;
}

#navbar {
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 3px solid #828798;
}

#navbar ul {
    list-style-type: none;
    padding-left: 0px;
}

#navbar ul li {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid black;
}

#navbar ul li a {
    text-decoration: none;
    color: #9ca0ad;
    padding-left: 25px;
}

#main-doc {
    width: 75%;
    padding-left: 30%;
}

#main-doc ul {
    padding-left: 80px;
}

#main-doc ul li::marker {
    color: #4f5360;
}

#main-doc article code {
    display: block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-wrap: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #dadbe0;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

#While_statement article code, #Function_declarations article code {
    padding-bottom: 0px;
    line-height: normal;
}