* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #c1c6df;
    font-family: sans-serif;

    .container {
        min-width: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5%;

        h1 {
            font-size: 3rem;
            color: white;
        }

        .add-filter {
            margin-top: 30%;
            width: 100%;
            display: flex;

            form {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title {
                    padding: 15px;
                    border: none;

                    &:focus {
                        outline: 1px solid blue;
                    }
                }

                .to-do-submit {
                    border: none;
                    background-color: transparent;
                    font-size: 2rem;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.7;
                    }
                }

                .select-container {
                    position: relative;
                    height: 100%;
                    width: 30%;
    
                    select {
                        height: 100%;
                        width: 100%;
                        appearance: none;
                        border: none;
                        cursor: pointer;
                    }
    
                    &::after {
                        content: "\25BC";
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        transform: translateY(-50%);
                        color: #a7bb44;
                        pointer-events: none;
                    }
                }
            }

        }

        .to-do-list {
            width: 100%;
            margin-top: 5%;

            ul {
                list-style-type: none;

                .each-to-do {
                    display: flex;
                    align-items: center;
                    padding: 15px 5px 15px 15px;
                    margin-top: 5%;
                    background-color: white;

                    li {
                        flex: 1;
                    }

                    button {
                        border: none;
                        background-color: transparent;
                        font-size: 1.5rem;
                        cursor: pointer;
                    }

                    .check-to-do {
                        margin-right: 5%;

                        &:hover {
                            color: green;
                        }
                    }

                    .delete-to-do:hover {
                        color: red;
                    }
                }

                .completed {
                    opacity: 0.5;

                    li {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}

@media(max-width: 500px) {
    body {

        .container {
            width: 80%;
            min-width: unset;

            .add-filter {

                form {
                    flex-direction: column;

                    .select-container {
                        width: 70%;
                        min-height: 40px;
                        order: 1;
                    }

                    .title {
                        width: 70%;
                        margin-top: 5px;
                        order: 2;
                    }

                    .to-do-submit {
                        margin-top: 5px;
                        order: 3;
                    }
                }
            }
        }
    }
}