* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a9aac9;
    font-family: sans-serif;

    .bold-span {
        font-weight: bold;
    }

    .loader-container {
        display: none;
        justify-content: center;
        margin-top: 15px;

        .loader {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 5px solid #a9aac9;
            border-left-color: white;
            animation: loading 1s linear infinite;
        }
    }

    .container {

        h1 {
            text-align: center;
            padding-top: 30px;
        }

        .search {
            display: flex;
            justify-content: center;
            margin-top: 15px;

            form {
                
                input[type="text"] {
                    padding: 15px;
                    border: none;
                }

                button {
                    padding: 15px;
                    border: none;
                    background-color: #c9dd39;
                    cursor: pointer;
                    transition: all 0.3s;

                    &:hover {
                        background-color: white;
                        color: #8c9d2d;
                    }
                }
            }
        }

        .book-list {
            display: grid;
            grid-template-columns: repeat(3, minmax(200px, 500px));
            justify-content: center;
            grid-gap: 50px 50px;
            margin-top: 5%;
            margin-bottom: 5%;
            padding: 15px;

            .each-book {
                max-width: 500px;
                min-height: 200px;
                display: flex;
                background-color: white;
                box-shadow: 1px 1px 5px black;

                img {
                    max-width: 25%;
                    height: auto;
                }

                .book-other-information {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding-left: 5px;

                    h3 {
                        font-size: 1rem;
                    }

                    p {
                        font-size: 0.8rem;
                    }

                    .more-information {
                        width: 80px;
                        padding: 5px;
                        border: none;
                        background-color: lightblue;
                        cursor: pointer;
                        transition: all 0.3s;

                        &:hover {
                            background-color: #5031ce;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .book-details-container {
        display: flex;
        justify-content: space-evenly;
        padding-top: 5%;

        .back-button {
            height: max-content;
            padding: 15px;
            border: none;
            background-color: #dae1e7;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background-color: #3e27d8;
                color: white;
            }
        }

        .book-details {
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: start;

            .book-details-information {
                max-width: 355px;
                min-height: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                padding: 15px;
                margin-right: 5%;
                background-color: white;
                box-shadow: 1px 1px 5px black;

                .book-detail-image {
                    width: 130px;
                    height: 190px;
                }

                p {
                    font-size: 12px;
                    align-self: start;
                }
            }

            .book-description {
                min-height: 300px;
                // min-width: 850px;
                display: flex;
                flex-direction: column;
                padding: 15px;
                background-color: white;
                box-shadow: 1px 1px 5px black;

                p {
                    margin-top: 5%;
                    max-width: 800px;
                }
            }
        }
    }
}

@media(max-width: 1030px) {
    body {

        .container {

            .book-list {
                grid-template-columns: repeat(2, minmax(200px, 400px));
                grid-gap: 25px 25px;

                .each-book {

                    .book-other-information {

                        h3 {
                            font-size: 0.8rem;
                        }

                        p {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 790px) {
    body {

        .container {

            .book-list {
                grid-template-columns: repeat(1, minmax(200px, auto));
                grid-gap: 30px 0px;

                .each-book {

                    .book-other-information {

                        h3 {
                            font-size: 1rem;
                        }

                        p {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        .book-details-container {
            flex-direction: column;
            align-items: center;

            .back-button {
                width: 120px;
                margin-bottom: 5%;
            }

            .book-details {
                flex-direction: column;
                align-items: center;

                .book-details-information {
                    margin-right: 0%;
                    margin-bottom: 5%;
                }
            }
        }
    }
}

@media(max-width: 400px) {
    body {

        .container {

            .search {

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    button {
                        margin-top: 5%;
                    }
                }
            }
        }
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}