* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a9aac9;
    font-family: sans-serif;

    .container {

        h1 {
            text-align: center;
            padding-top: 30px;
        }

        .search {
            display: flex;
            justify-content: center;
            margin-top: 15px;

            form {
                
                input[type="text"] {
                    padding: 15px;
                    border: none;
                }

                button {
                    padding: 15px;
                    border: none;
                    background-color: #c9dd39;
                    cursor: pointer;
                }
            }
        }
    }
}