* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a9aac9;
    font-family: sans-serif;

    .bold-span {
        font-weight: bold;
    }

    .container {

        h1 {
            text-align: center;
            padding-top: 30px;
        }

        .search {
            display: flex;
            justify-content: center;
            margin-top: 15px;

            form {
                
                input[type="text"] {
                    padding: 15px;
                    border: none;
                }

                button {
                    padding: 15px;
                    border: none;
                    background-color: #c9dd39;
                    cursor: pointer;
                }
            }
        }

        .book-list {
            display: grid;
            grid-template-columns: repeat(3, minmax(200px, 500px));
            justify-content: center;
            grid-gap: 50px 50px;
            margin-top: 5%;
            margin-bottom: 5%;

            .each-book {
                max-width: 500px;
                display: flex;
                background-color: white;
                box-shadow: 1px 1px 5px black;

                img {
                    max-width: 25%;
                    height: auto;
                }

                .book-other-information {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding-left: 5px;

                    p {
                        font-size: 12px;
                    }

                    .more-information {
                        width: 80px;
                        padding: 5px;
                        border: none;
                        background-color: lightblue;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .book-details-container {
        display: flex;
        justify-content: space-evenly;
        padding-top: 5%;

        .back-button {
            height: max-content;
            padding: 15px;
            border: none;
            background-color: #dae1e7;
            cursor: pointer;
        }

        .book-details {
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: start;

            .book-details-information {
                min-height: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                padding: 15px;
                background-color: white;
                box-shadow: 1px 1px 5px black;

                .book-detail-image {
                    width: 130px;
                    height: 190px;
                }

                p {
                    font-size: 12px;
                    align-self: start;
                }
            }

            .book-description {
                min-height: 300px;
                min-width: 850px;
                display: flex;
                flex-direction: column;
                padding: 15px;
                background-color: white;
                box-shadow: 1px 1px 5px black;

                p {
                    margin-top: 5%;
                    max-width: 800px;
                }
            }
        }
    }
}