* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    padding-left: 100px;
    background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%), url("../img/header_background.png");
    background-size: 100%;

    .header-top-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 42px;
        padding-right: 245px;
    
        nav ul li {
            display: inline;
            padding-left: 2vw;
    
            a {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                text-decoration: none;
                color: white;
            }
        }
    }

    .header-middle-container {
        margin-top: 175px;

        h1 {
            font-family: 'Nunito Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 60px;
            line-height: 82px;
            color: white;
        }

        p {
            font-family: 'Nunito Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 29px;
            line-height: 40px;
            color: white;

            &:first-of-type {
                margin-top: 20px;
            }
        }
    }
}