* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    min-height: 865px;
    padding-left: 100px;
    background: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%), url("../img/header_background.png");
    background-size: 100%;

    .header-top-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 42px;
        padding-right: 245px;
    
        nav ul li {
            display: inline;
            padding-left: 2vw;
    
            a {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
                text-decoration: none;
                color: white;
            }
        }
    }

    .header-middle-container {
        margin-top: 175px;
        margin-bottom: 7%;

        h1 {
            font-family: 'Nunito Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 60px;
            line-height: 82px;
            color: white;
        }

        p {
            font-family: 'Nunito Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 29px;
            line-height: 40px;
            color: white;

            &:first-of-type {
                margin-top: 20px;
            }
        }
    }

    .header-bottom-container {
        width: max-content;
        display: grid;
        grid-template-columns: 203px 179px 179px 179px 247px;
        grid-template-rows: 61px 61px;
        grid-column-gap: 27px;
        grid-row-gap: 11px;
        padding: 20px 90px;
        background: white;

        .select-container {
            position: relative;
            background-color: #FFF0CB;

            &::after {
                display: block;
                width: 15px;
                height: 15px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                z-index: 0;
                content: "";
                background-image: url("https://static.thenounproject.com/png/551749-200.png");
                background-size: 100% 100%;
            }
        }

        select {
            width: 100%;
            position: relative;
            appearance: none;
            background-color: transparent;
            padding: 20px;
            border: none;
            z-index: 1;
        }

        textarea {
            padding: 10px;
            grid-column: 2/6;
            border: none;
            background-color: #FFF0CB;
        }

        button {
            border: none;
            background-color: #FFC839;
            font-family: "Roboto", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
            line-height: 27px;
            color: black;
        }
    }
}

main {
    padding-left: 100px;
    padding-right: 100px;
    .options {
        display: flex;
        justify-content: space-between;
        margin-top: 75px;

        .each-option {
            max-width: 399px;
            max-height: 547px;

            .option-image {
                display: block;
                max-width: 100%;
                height: auto;
                max-height: 414px;
            }

            .description {
                display: flex;
                align-items: center;
                min-height: 135px;
                margin-top: -1px;
                padding-left: 25px;
                padding-right: 20px;
                background-color: white;
                box-shadow: 0px 4px 59px -14px rgba(171, 124, 0, 0.29);

                .right-arrow {
                    width: 40px;
                    height: 40px;
                    position: relative;
                    margin-right: 5%;
                    background-color: #FFC839;
                    box-shadow: 1px 4px 4px #E1DFD9;
                    border-radius: 50%;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                p {
                    font-family: "Nunito Sans", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 19px;
                }
            }

            &:hover {
                cursor: pointer;
                
                .description {
                    background-color: #FFC839;
                    box-shadow: 0px 4px 35px rgba(196, 143, 7, 0.49);

                    .right-arrow {
                        background-color: white;
                        box-shadow: 1px 4px 4px #E0A712;
                    }
                }
            }
        }
    }

    .company-features {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;

        .features {
            display: flex;
            flex-direction: column;

            h2 {
                margin-bottom: 65px;
                font-family: "Nunito Sans", sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 49px;
                color: #323232;
            }

            .company-feature {
                display: flex;

                &:not(:last-child) {
                    margin-bottom: 50px;
                }

                img {
                    margin-right: 30px;
                }

                .company-feature-description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        font-family: "Nunito Sans", sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        color: #4A4A4A;
                        &:first-of-type {
                            margin-top: 5px;
                            font-size: 29px;
                            line-height: 40px;
                        }

                        &:nth-of-type(2) {
                            font-size: 21px;
                            line-height: 29px;
                        }
                    }
                }
            }
        }

        .company-feature-image {
            display: flex;
            align-items: center;

            .orange-background {
                width: 75px;
                height: 430px;
                background-color: #FFC839;
            }
        }
    }

    .contact {
        margin-top: 100px;
        padding: 130px 290px 105px 165px;
        background-color: #FFF5DA;

        p {
            display: inline-block;
            font-family: "Nunito Sans", sans-serif;
            font-style: normal;

            &:first-child {
                margin-bottom: 15px;
                font-weight: 600;
                font-size: 36px;
                line-height: 49px;
                color: #323232;
            }

            &:nth-of-type(2) {
                margin-bottom: 15px;
                font-weight: normal;
                font-size: 29px;
                line-height: 40px;
                color: #646464;
            }
        }

        form {
            display: flex;

            input[type="text"] {
                width: 25%;
                max-width: 708px;
                margin-right: 15px;
                padding: 20px;
                border: 1px solid black;
            }

            input[type="submit"] {
                width: 150px;
                padding: 10px;
                border: none;
                color: black;
                background-color: #FFC839;
                font-family: "Nunito Sans", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 29px;
                line-height: 40px;
                cursor: pointer;
            }
        }
    }

    .images-list {
        margin-top: 120px;

        p {
            margin-bottom: 45px;
            font-family: "Nunito Sans", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 49px;
            color: #323232;
        }

        .images-list-container {
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(4, 293px);
            grid-template-rows: repeat(2, 406px);
            grid-column-gap: 25px;
            grid-row-gap: 20px;
        }
    }
}