* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    .container {
        position: relative;
        height: 100%;

        .box {
            width: 200px;
            height: 200px;
            position: absolute;
            cursor: pointer;
            z-index: 1;
        }

        .first {
            top: 50%;
            left: 150px;
            transform: translateY(-50%);
            background-color: lightblue;
        }

        .second {
            top: 50%;
            left: 400px;
            transform: translateY(-50%);
            background-color: lightcoral;
        }

        .third {
            top: 50%;
            left: 650px;
            transform: translateY(-50%);
            background-color: lightseagreen;
        }

        .fourth {
            top: 50%;
            left: 900px;
            transform: translateY(-50%);
            background-color: lightsalmon;
        }

        .fifth {
            top: 50%;
            left: 1150px;
            transform: translateY(-50%);
            background-color: lightskyblue;
        }

        .move {
            transition: all linear 1s; 
        }
    }
}