* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    .container {
        position: relative;
        height: 100%;

        .test {
            width: 200px;
            height: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        .first {
            background-color: lightblue;
        }

        .second {
            background-color: lightcoral;
            top: 20%;
            left: 20%;
            transform: translate(-20%, -20%);
        }
    }
}