* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #467dcf;
    font-family: "sans-serif";

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;

        h1 {
            margin-top: 5%;
            margin-bottom: 5%;
        }

        h2 {
            margin-bottom: 10%;
        }

        .big-glass {
            width: 150px;
            height: 350px;
            margin-bottom: 5%;
            background-color: white;
            border: 5px solid #2d3ec1;
            border-radius: 0px 0px 40px 40px;

            .remained {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    color: #2d3ec1;
                }
            }

            .completed {
                display: flex;
                justify-content: center;
                visibility: hidden;
            }
        }

        .small-glasses {
            display: flex;
            width: 230px;
            flex-wrap: wrap;

            .each-glass {
                width: 50px;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
                background-color: white;
                border: 5px solid #2d3ec1;
                border-radius: 0px 0px 18px 18px;
                margin-right: 10px;
                cursor: pointer;

                &:last-child, &:nth-child(4) {
                    margin-right: 0px;
                }

                p {
                    color: #2d3ec1;
                }
            }
        }
    }
}