body {
    margin: 0;
    font-family: sans-serif;
}

.entry-block {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 5%
}

.back-button {
    align-self: center;

    .left-arrow {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-left: 2px solid #060405;
        border-bottom: 2px solid #060405;
        transform: rotate(45deg);
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 12px;
    }
}

.bank-logo {
    max-width: 100%;
    height: auto;
}

.order-details p {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.balance-payment-type {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;

    .balance {
        width: 30%;
        text-align: right;
        padding-left: 5%;

        p {
            display: inline-block;
            font-size: 12px;
            line-height: 14px;
            opacity: 0.5;
            margin-top: 0px;
        }

        span {
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            opacity: 1;
        }
    }

    .payment-type {
        width: 70%;
        padding-left: 7%;
        ul {
            margin-top: 0px;

            li {
                display: inline;
                padding-left: 3rem;
                font-size: 12px;
                line-height: 14px;
    
                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}

.each-card {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #7FCDFA;
    border-radius: 10px;
    margin-top: 1%;

    &:first-of-type {
        margin-top: 0;
    }

    img {
        width: 44px;
        align-self: center;
    }

    p {
        font-size: 16px;
        line-height: 14px;

        &:first-of-type {
            line-height: 19px;
        }

        &:last-child {
            margin: auto 0;
            font-size: 12px;
        }
    }
}

.add-new-card {
    width: 20%;
    display: inline-block;
    margin-top: 1%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    opacity: 0.5;
}

.card {
    width: 340px;
    border-radius: 8px;
}

.card-top {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;

    .title {
        display: flex;
    }
}

.card-middle {
    display: flex;
    justify-content: space-around;

    p {
        margin: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: white;
    }
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;

    .expire-date {
        p {
            font-style: normal;
            font-weight: normal;
            color: white;

            &:first-child {
                font-size: 12px;
                line-height: 14px;
                margin-top: 0px;
            }

            &:nth-of-type(2) {
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 0px;
            }
        }
    }

    .card-type {
        width: 25%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        border-radius: 25px;
        background: white;
        opacity: 0.7;

        p {
            margin: 0;
        }
    }
}

#mastercard {

    .card-top .title img{
        &:nth-of-type(2) {
            margin-left: 5%;
        }
    }
    
    background-image: url("../img/mastercard-background.svg");
    background-color: #D84A5A;
    background-repeat: no-repeat;
}

#visa {
    background-image: url("../img/visa-background.svg");
    background-color: #4B639C;
    background-repeat: no-repeat;
}