#mastercard {
    background-image: url("../img/mastercard-background.svg");
    background-color: #D84A5A;
    background-repeat: no-repeat;
}

#visa {
    background-image: url("../img/visa-background.svg");
    background-color: #4B639C;
    background-repeat: no-repeat;
}