body {
  margin: 0;
  font-family: sans-serif; }

.entry-block {
  width: 70%;
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  padding-left: 4%; }

.back-button {
  align-self: center; }
  .back-button .left-arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-left: 2px solid #060405;
    border-bottom: 2px solid #060405;
    transform: rotate(45deg); }
  .back-button a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 12px; }

.bank-logo {
  max-width: 100%;
  height: auto; }

.order-details p {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px; }

.balance-payment-type {
  display: flex;
  justify-content: space-between;
  margin-top: 3%; }
  .balance-payment-type .balance {
    width: 30%;
    text-align: right;
    padding-left: 5%; }
    .balance-payment-type .balance p {
      display: inline-block;
      font-size: 12px;
      line-height: 14px;
      opacity: 0.5;
      margin-top: 0px; }
    .balance-payment-type .balance span {
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      opacity: 1; }
  .balance-payment-type .payment-type {
    width: 70%;
    padding-left: 7%; }
    .balance-payment-type .payment-type ul {
      margin-top: 0px; }
      .balance-payment-type .payment-type ul li {
        display: inline;
        padding-left: 3rem;
        font-size: 12px;
        line-height: 14px; }
        .balance-payment-type .payment-type ul li:first-child {
          padding-left: 0; }

.each-card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #7FCDFA;
  border-radius: 10px;
  margin-top: 1%; }
  .each-card:first-of-type {
    margin-top: 0; }
  .each-card img {
    width: 44px;
    align-self: center; }
  .each-card p {
    font-size: 16px;
    line-height: 14px; }
    .each-card p:first-of-type {
      line-height: 19px; }
    .each-card p:last-child {
      margin: auto 0;
      font-size: 12px; }

.add-new-card {
  width: 100%;
  display: inline-block;
  margin-top: 1%;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  opacity: 0.5; }

.card {
  width: 340px;
  border-radius: 8px; }

.card-top {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px; }
  .card-top .title {
    display: flex; }

.card-middle {
  display: flex;
  justify-content: space-around; }
  .card-middle p {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: white; }

.card-bottom {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px; }
  .card-bottom .expire-date p {
    font-style: normal;
    font-weight: normal;
    color: white; }
    .card-bottom .expire-date p:first-child {
      font-size: 12px;
      line-height: 14px;
      margin-top: 0px; }
    .card-bottom .expire-date p:nth-of-type(2) {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 0px; }
  .card-bottom .card-type {
    width: 25%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 25px;
    background: white;
    opacity: 0.7; }
    .card-bottom .card-type p {
      margin: 0; }

#mastercard {
  background-image: url("../img/mastercard-background.svg");
  background-color: #D84A5A;
  background-repeat: no-repeat; }
  #mastercard .card-top .title img:nth-of-type(2) {
    margin-left: 5%; }

#visa {
  margin-left: 4%;
  background-image: url("../img/visa-background.svg");
  background-color: #4B639C;
  background-repeat: no-repeat; }

.middle-container {
  padding-left: 13%;
  margin-top: 5%;
  display: flex; }

.card-properties {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.cards {
  width: 70%;
  display: flex;
  justify-content: center; }

.bottom-container {
  padding-left: 13%; }

.price-pay {
  display: flex;
  margin-top: 5%; }
  .price-pay .price {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .price-pay .price .total-price p:first-child, .price-pay .price .discount p:first-child {
      margin-bottom: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      opacity: 0.5; }
    .price-pay .price .total-price p:nth-of-type(2), .price-pay .price .discount p:nth-of-type(2) {
      margin-top: 0px;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px; }
  .price-pay .slash p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    opacity: 0.5; }
  .price-pay .pay {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .price-pay .pay p {
      margin-left: 1%;
      margin-right: 5%;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px; }
    .price-pay .pay button {
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: #6A6A6A;
      background: linear-gradient(360deg, #67C870 0%, #81E79B 99.99%, rgba(103, 200, 112, 0) 100%);
      border-radius: 8px;
      padding: 10px 55px;
      border: none;
      cursor: pointer; }

.terms-information {
  padding-left: 5%;
  margin-top: 3%; }
  .terms-information p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase; }
  .terms-information span {
    font-weight: 600; }

/*# sourceMappingURL=home.css.map */
